@model Orchard.Tags.ViewModels.TagsSearchViewModel
@{ 
    Html.AddTitleParts(T("Tags").ToString()); 
    Html.AddTitleParts(T("Contents tagged with {0}", Model.TagName).ToString());
    Model.List.Classes.Add("tagged-posts");
    Model.List.Classes.Add("content-items");

    WorkContext.Layout.BeforeMain.Add(New.Parts_Title(Title: T("Contents tagged with \"{0}\"</span>", Model.TagName)), "0");
}

@Display(Model.List)
@Display(Model.Pager)